.timeline-container {
    position: relative;
    margin-left: 40px;
    overflow: hidden;
}

.timeline-line {
    position: absolute;
    left: 150px;
    top: 0;
    width: 4px;
    height: 0; /* Start with 0 height */
    background-color: #fdcb6e;
    z-index: 0;
    transition: height 2s cubic-bezier(0.25, 1, 0.5, 1); /* Smooth transition */
}

/* When the .in-view class is added, the line grows down */
.timeline-container.in-view .timeline-line {
    height: 70vh;
}
.timeline-container.in-view {
    overflow: visible;
}

