/* General Styling */
@import url('https://fonts.googleapis.com/css2?family=Triodion&display=swap');

html{
  height: fit-content;
}
body {
  font-family: "Noto Serif Hentaigana", serif;
  font-weight: 500;
  font-style:normal;
  margin: 0;
  padding: 0;
  background:#1d1c1c;
  color: white; /* Text color */
  height: 100vh;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
